<div class="mt-10 border-t-2 border-gray-200">
  <div class="flex space-x-20 rtl:space-x-reverse mt-10">
    <div>
      <a class="title">About</a>

      <ul class="menu">
        <li>
          <a>Our Story</a>
        </li>
        <li>
          <a>Diversity and inclusion</a>
        </li>
        <!-- <li><a href="#">Our Team</a></li> -->
        <li>
          <a>Careers at Ureed</a>
        </li>
        <li>
          <a>Latest news</a>
        </li>
        <li>
          <a href="https://help.ureed.com/en/collections/2509213-trust-safety" target="_blank">
            Trust and saftey
          </a>
        </li>
        <li>
          <a>Terms & Conditions</a>
        </li>
      </ul>
    </div>

    <div>
      <div class="title">For Employers</div>
      <ul class="menu">
        <li>
          <a>How it works?</a>
        </li>
        <li>
          <a>Ureed for Enterprise</a>
        </li>
        <li>
          <a href="https://blog.ureed.com/category/case-studies/" target="_blank">Case Studies</a>
        </li>
      </ul>
    </div>

    <div>
      <div class="title">
        <a>For Freelancers</a>
      </div>
      <ul class="menu">
        <li>
          <a>How it works?</a>
        </li>
        <li>
          <a>Financials</a>
        </li>
        <li>
          <a href="https://blog.ureed.com/category/sucess-stories/" target="_blank">Success Stories</a>
        </li>
      </ul>
    </div>

    <div>
      <div class="title">Support</div>
      <ul class="menu">
        <li>
          <a href="http://help.ureed.com/" target="_blank">Knowledge center</a>
        </li>
        <li>
          <a>Contact support</a>
        </li>
      </ul>
    </div>
  </div>
</div>