<div class="bg-gray-100 w-full p-4 mt-4 h-20 flex items-center">
  <div class="ltr:mr-12 rtl:ml-12">
    <ureed-freelancer-info [freelancer]="freelancer"></ureed-freelancer-info>
  </div>
  <div class="ltr:mr-12 rtl:ml-12">
    <span class="text-xs text-gray-700">Contract {{ freelancer.startDate }} ·
      {{ freelancer.endDate ? freelancer.endDate : 'Present' }}</span>
  </div>
  <div class="ltr:mr-12 rtl:ml-12">
    <span class="text-xs text-gray-700">Rate {{ freelancer.ratePerHour }}/hr</span>
  </div>
  <div class="ltr:mr-64 rtl:ml-60">
    <span class="text-xs text-gray-700">Weekly limit {{ freelancer.hoursPerWeek }}hrs/week
    </span>
  </div>
  <div>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
      class="rtl:transform rtl:rotate-180">
      <path d="M3.3335 8H12.6668" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M8 3.33325L12.6667 7.99992L8 12.6666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
</div>