<div class="rounded-lg shadow-sm bg-white">
  <div class="rounded-t-lg px-4 py-2">
    <span class="text-lg">Complete your profile</span>
  </div>
  <div class="px-4 pt-2">
    <p class="text-sm text-gray-600 ltr:ml-1 rtl:mr-1">40% complete</p>
    <div class="relative pt-1">
      <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-100">
        <div
          class="w-5/12 shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-teal-500 rounded">
        </div>
      </div>
    </div>
  </div>

  <div class="px-4 pb-4 text-sm">
    <div class="flex justify-between text-gray-400">
      <span>Add a profile picture</span>

      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M14.6668 7.38674V8.00007C14.666 9.43769 14.2005 10.8365 13.3397 11.988C12.4789 13.1394 11.269 13.9817 9.8904 14.3893C8.51178 14.797 7.03834 14.748 5.68981 14.2498C4.34128 13.7516 3.18993 12.8308 2.40747 11.6248C1.62501 10.4188 1.25336 8.99212 1.34795 7.55762C1.44254 6.12312 1.9983 4.75762 2.93235 3.66479C3.8664 2.57195 5.12869 1.81033 6.53096 1.4935C7.93322 1.17668 9.40034 1.32163 10.7135 1.90674"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M14.6667 2.66675L8 9.34008L6 7.34008" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <div class="flex justify-between">
      <span>Verify your phone number</span>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg" class="text-blue-600 cursor-pointer">
        <path
          d="M8.00016 14.6666C11.6821 14.6666 14.6668 11.6818 14.6668 7.99992C14.6668 4.31802 11.6821 1.33325 8.00016 1.33325C4.31826 1.33325 1.3335 4.31802 1.3335 7.99992C1.3335 11.6818 4.31826 14.6666 8.00016 14.6666Z"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M8 5.33325V10.6666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M5.3335 8H10.6668" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
    <div class="flex justify-between">
      <span>Invite a colleague</span>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg" class="text-blue-600 cursor-pointer">
        <path
          d="M8.00016 14.6666C11.6821 14.6666 14.6668 11.6818 14.6668 7.99992C14.6668 4.31802 11.6821 1.33325 8.00016 1.33325C4.31826 1.33325 1.3335 4.31802 1.3335 7.99992C1.3335 11.6818 4.31826 14.6666 8.00016 14.6666Z"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M8 5.33325V10.6666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M5.3335 8H10.6668" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
    <div class="flex justify-between">
      <span>Connect with a freelancer</span>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg" class="text-blue-600 cursor-pointer">
        <path
          d="M8.00016 14.6666C11.6821 14.6666 14.6668 11.6818 14.6668 7.99992C14.6668 4.31802 11.6821 1.33325 8.00016 1.33325C4.31826 1.33325 1.3335 4.31802 1.3335 7.99992C1.3335 11.6818 4.31826 14.6666 8.00016 14.6666Z"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M8 5.33325V10.6666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M5.3335 8H10.6668" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
  </div>

  <div class="px-4 pb-4">
    <p class="text-xs text-gray-600">
      Completing your profile will verify your account and increase your project
      pitches with 40%
    </p>
  </div>
</div>