<div class="rounded-lg shadow-sm bg-white">
  <div
    class="flex justify-between rounded-t-lg bg-gray-900 text-white px-4 py-2"
  >
    <span class="text-lg">Business account</span>

    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      stroke="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      class="self-center"
    >
      <path
        d="M8.00016 14.6666C11.6821 14.6666 14.6668 11.6818 14.6668 7.99992C14.6668 4.31802 11.6821 1.33325 8.00016 1.33325C4.31826 1.33325 1.3335 4.31802 1.3335 7.99992C1.3335 11.6818 4.31826 14.6666 8.00016 14.6666Z"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M8 10.6667V8"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M8 5.33325H8.00667"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <div class="flex p-4">
    <img
      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
      alt=""
      class="rounded-full w-20 h-20"
    />
    <div class="self-center ltr:ml-2 rtl:mr-2">
      <p class="text-lg font-semibold">Jane Charles</p>
      <p class="text-sm">Facebook Inc.</p>
      <p class="text-xs text-gray-500">London, UK (GMT +1)</p>
    </div>
  </div>
  <hr class="border-1 border-gray-200" />
  <div class="p-4">
    <div class="flex justify-between">
      <span class="text-gray-600">Total projects</span>
      <span>25</span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-600">Total spent</span>
      <span>$2,500</span>
    </div>
  </div>
  <hr class="border-1 border-gray-200" />
  <div class="p-4">
    <a href="#" class="text-blue-600 cursor-pointer"
      >Switch to company dashboard</a
    >
  </div>
</div>
