<div class="relative text-left" ureedClickOutside (clickOutside)="isOpen = false; searchQuery = ''">
  <button (click)="isOpen = !isOpen" type="button"
    [ngClass]="{'border-blue-600': isOpen}"
    class="select-btn w-full flex justify-between rounded border border-gray-300 px-3 py-2 text-gray-900 text-sm bg-white leading-5 focus:outline-none focus:shadow-outline-blue transition ease-in-out hover:border-blue-600">

    <span class="flex truncate">
      <img *ngIf="selectedItem && selectedItem.icon && showIcon" [src]="selectedItem.icon" alt=""
        class="ltr:mr-2 rtl:ml-2">
      <span class="truncate">{{ selectedItem ? selectedItem.name : label }}</span>
    </span>

    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
      class="mt-1 w-4 h-4 inline-block" stroke="currentColor">
      <path d="M4 6L8 10L12 6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>

  <div [ngClass]="{'hidden': !isOpen, 'block': isOpen}" *ngIf="items && items.length"
    class="ltr:origin-top-right rtl:origin-top-left absolute ltr:left-0 rtl:right-0 mt-2 w-64 rounded-md shadow-lg transform z-10 overflow-y-auto max-h-72">
    <div class="rounded-md bg-white shadow-xs">
      <div class="py-1 menu" role="menu">
        <span *ngIf="items.length > minItemsForSearch">
          <label>
            <span class="absolute ltr:ml-5 rtl:mr-5 mt-2">
              <svg class="text-gray-500" width="16" height="16" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                <path
                  d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20.9999 20.9999L16.6499 16.6499" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
            <input type="text" [value]="searchQuery" (keyup)="searchItem($event)" [placeholder]="placeholder"
              class="flex py-1 mx-4 ltr:pl-5 rtl:pr-5 bg-gray-100 placeholder-gray-500 text-gray-700 font-thin rounded font-xs border outline-none">
          </label>
        </span>

        <ng-container *ngFor="let item of items | ureedFilter: {query: searchQuery, filterBy: 'name'}">
          <span (click)="onSelect(item)"
            class="menu-item flex justify-between menu-item px-4 py-2 text-sm font-medium leading-5 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-900 cursor-pointer"
            role="menuitem"
            [ngClass]="{ 'text-gray-900': (selectedItem && selectedItem.id !== item.id), 'text-blue-600': (selectedItem && selectedItem.id === item.id)}">
            <span class="flex">
              <img *ngIf="showIcon && item?.icon" [src]="item.icon" alt="" class="ltr:mr-2 rtl:ml-2">
              {{ item.name }}
            </span>

            <svg *ngIf="selectedItem && selectedItem.id === item.id" class="text-blue-600 ltr:ml-2 rtl:mr-2" width="16"
              height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.3333 4L5.99996 11.3333L2.66663 8" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>