<ng-container *ngIf="selectedItems.length">
  <ng-container *ngFor="let item of selectedItems">
    <div class="inline-block ltr:mr-2 rtl:ml-2 mb-2">
      <button type="button"
        class="selected-chips text-white cursor-default align-middle inline-flex rounded-full border border-blue-600 px-3 pt-px pb-px bg-blue-600 text-xs leading-5 focus:outline-none focus:shadow-outline-blue">
        {{ item.name }}
        <svg (click)="removeItem(item)" class="cursor-pointer mt-1 ltr:ml-2 rtl:mr-2 stroke-current" width="12"
          height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 3L3 9" stroke-width="2" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 3L9 9" stroke-width="2" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </ng-container>
</ng-container>

<div class="relative inline-block text-left" *ngIf="items.length" ureedClickOutside
  (clickOutside)="isOpen = false; searchQuery = ''">
  <button (click)="isOpen = !isOpen" type="button"
    class="chip-button text-blue-600 inline-flex rounded-full border border-blue-600 px-3 pt-px pb-px mb-2 bg-white text-xs leading-5 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150">
    {{ label }}
    <svg class="mt-px ltr:ml-2 rtl:mr-2 stroke-current" width="16" height="16" viewBox="0 0 16 16" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M8 3.33325V12.6666" stroke-width="2" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M3.3335 8H12.6668" stroke-width="2" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>

  <div [ngClass]="{'hidden': !isOpen, 'block': isOpen}"
    class="transform ltr:origin-top-right rtl:origin-top-left absolute ltr:left-0 rtl:right-0 mt-2 w-64 rounded-md shadow-lg  z-10 overflow-y-auto max-h-72">
    <div class="rounded-md bg-white shadow-xs">
      <div class="py-1 menu" role="menu">
        <span *ngIf="items.length > minItemsForSearch">
          <label>
            <span class="absolute ltr:ml-5 rtl:mr-5 mt-2">
              <svg class="text-gray-500" width="16" height="16" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                <path
                  d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20.9999 20.9999L16.6499 16.6499" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
            <input type="text" [value]="searchQuery" (keyup)="searchItem($event)" [placeholder]="placeholder"
              class="flex py-1 mx-4 ltr:pl-5 rtl:pr-5 bg-gray-100 placeholder-gray-500 text-gray-700 font-thin rounded font-xs border outline-none">
          </label>
        </span>

        <ng-container *ngFor="let item of items | ureedFilter: {query: searchQuery, filterBy: 'name'}">
          <span (click)="addItem(item)"
            class="menu-item block px-4 py-2 text-sm font-medium leading-5 text-gray-900 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 cursor-pointer"
            role="menuitem">{{ item.name }} <span class="text-gray-500" *ngIf="item?.category"> in
              {{ item.category }}</span></span>
        </ng-container>
      </div>
    </div>
  </div>
</div>