<div class="border-t-2 border-blue-700">
  <div class="flex mt-16 flex-wrap sm:flex-no-wrap">
    <div class="ltr:mr-56 rtl:ml-56 flex-shrink-0 self-center">
      <img class="w-3/4" src="assets/layout/logo.png" alt="Ureed Logo" />
    </div>
    <div class="ltr:mr-56 rtl:ml-56 text-sm">
      Ureed.com is an online marketplace connecting employers from around the
      world with vetted and certified freelance talents across all professional
      fields with maximum value and high return guaranteed.
    </div>
    <div class="self-center">
      <ureed-social-icons></ureed-social-icons>
    </div>
  </div>
</div>
<ureed-quick-links></ureed-quick-links>

<ureed-copyright></ureed-copyright>
